<!--<div class="container" [ngSwitch]="option">-->

<!--  <div *ngSwitchCase="false">-->
<!--    <div>-->
<!--      <button class='btn btn-primary' (click)="agregar()">Agregar</button>-->
<!--    </div>-->
<!--    <table class="table table-hover">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th scope="col">#</th>-->
<!--          <th scope="col">Cedula</th>-->
<!--          <th scope="col">Nombre</th>-->
<!--          <th scope="col">Fecha de contrato</th>-->
<!--          <th scope="col">Puesto</th>-->
<!--          <th scope="col">Salario actual</th>-->
<!--          <th scope="col">Estado Liquidacion</th>-->
<!--        </tr>-->
<!--      </thead>-->

<!--      <tbody *ngFor="let item of lista">-->
<!--        <tr>-->
<!--          <th scope="row">{{ item.id }}</th>-->
<!--          <td>{{ item.commonName }}</td>-->
<!--          <td>{{ item.scientificName }}</td>-->
<!--          <td>-->
<!--            <a class="button" (click)="edit(item.id)">-->
<!--              <span class="material-symbols-outlined"> edit </span>-->
<!--            </a>-->
<!--          </td>-->
<!--          <td>-->
<!--            <a class="button" (click)="delete(item.id)">-->
<!--              <span class="material-symbols-outlined"> delete </span>-->
<!--            </a>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--  <div *ngSwitchCase="true">-->
<!--    <app-add-employee (option)="setOption($event)" [bird]="currentBird"></app-add-employee>-->
<!--  </div>-->

<!--</div>-->
